##Environment variables for Percona MongoDB exporter. More information -  https://github.com/percona/mongodb_exporter.

MONGODB_URI='{{ mongodb_exporter_uri }}'
HTTP_AUTH='{{ mongodb_exporter_http_auth }}'
